* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/********** Main-Review div section ***********/
.main-review {
  border-right: solid rgba(58, 58, 58, 0.2) 1px;
  width: 200px;
}

.rating {
  display: inline-block;
  font-weight: 900;
  font-size: 2.31rem;
  line-height: 30px;
}

.five-stars {
  padding-left: 0.35em;
}
.fa-star {
  color: #ffab41;
}
.review-para {
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 400;
}

/************* star-review div section ***************/
